[mysqld]

#log = /var/log/mysql/query.log
#log_slow_queries = /var/log/mysql/slow-queries.log
log-error = "/var/log/mysql/error.log"
#long_query_time=2

key_buffer_size         = 1G
join_buffer_size        = 158M
max_allowed_packet=268435456
thread_stack            = 192K
thread_cache_size       = 2
myisam-recover         = BACKUP
max_connections        = 100
table_cache            = 500
query_cache_limit       = 128M
query_cache_size        = 128M

#innodb_log_file_size    = 50M
innodb_log_buffer_size  = 8M
innodb_buffer_pool_size = 1G
innodb_file_per_table   = 1
innodb_open_files       = 2548
innodb_io_capacity      = 400
innodb_flush_method     = O_DIRECT

open_files_limit=50000
table_open_cache = 30000

innodb_flush_log_at_trx_commit = 2
transaction-isolation = READ-COMMITTED

tmp_table_size = 1G
max_heap_table_size = 1G
max_connect_errors = 10
collation-server = utf8_general_ci
init-connect='SET NAMES utf8'
character-set-server = utf8

innodb_use_sys_malloc =0
#default_time_zone = "Europe/Moscow"